/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* GLOBAL */
body {
    /* background: rgb(218, 77, 206); */
}

/* VARIABLES */
:root {
    --color1: #F93777;  /* bg color header y footer */
    --color2: #ff80ff;  /* hamburguer color */
    --color3: #d0d0d0;  /* button color */
    --color4: #E3D8DF;  /* a:hover color */
    --color5: #393237;  /* a color */
    
    
}

/* reusables items */

a {
    color: var(--color5);
    text-decoration: none;
    /* font-size: 16px; */
    font-weight: bold;

}

a:hover {
    color: var(--color4);
  }
  

li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.center {
  text-align: center;
}

/* <!-- HEADER --> */
header {
   
    font-size: 16px;
    display: block;   
    right: 0;
    left: 0;
    z-index: 10000;
    clear: both;
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

/* <!-- Navigator --> */

nav {
    /* padding: 16px; */
    /* overflow: hidden; */
    background-color: var(--color1);
    clear: both;
    /* display: block; */
    position: fixed;
    height: 80px;
    width: 100%;
  }
  
.nav-left {
    font-size: 20px;
    float: left;
    padding: 5%;
    color: var(--color5);
}

.nav-right {
    float: right;
    font-size: 20px;
    /* color: var(--color4); */
    color: black;
    padding: 5%;
    color: var(--color4);
}

        /* menú hamburguer */
.hamburger {
    position: absolute;
    top: 25px;
    right: 28px;
    height: 2px;
    width: 24px;
    background-color: var(--color5);
  }
  
  .hamburger::before, .hamburger::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 24px;
    display: block;
    background-color: var(--color5);
  }
  
  .main-hamburger::before {
    top: -8px;
  }
  
  .main-hamburger::after {
    top: 8px;
  }

        /* <!-- Banner --> */
#bride-banner {
    outline: 1px solid red;
    background-image: url(../assets/images/bride-1900x1200.jpg);
    background-size: 100% cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */
    display: block;
}

#brand-phrase {
    color: white;
    font-weight: bold;
    font-size: 32px;

    position: absolute;
    bottom: 20%;
    left: 25%;
}
/* Sections */

/* .block {
   display: block;
   
} */

         /* <!-- button --> */
span {
  position: relative;
  left: 35%;
}

span>.btn {
    background-color: var(--color3);
    border-radius: 5%;
    color: #000;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 25%;
}
       
/* <!-- FOOTER --> */

footer {
    background-color: var(--color1);
    font-size: 16px;
    height: 80px;
    width: 100%;
    text-align: center;
    
}

footer > p {
   transform: translateY(25%);
   font-size: 16px;
   font-weight: bold;
}

  /* Grid */
  .container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*='col-'] {
    float: left;
    padding: 15px;
  }

  /* Small size style (Phones) */
.li-hide {
  display: none;
}

#web-name { 
  font-size: 22px;
}

.col-xs-12 {
  width: 100%;
}
 
  /* Medium size style (Tablets) */

  @media screen and (min-width: 768px) {
    .col-md-4 {
      width: 33.33333333%;
    }

    .col-md-8 {
      width: 66.66666667%;
    }
  }

  /* Large size style (Laptops & Desktops)*/

  @media screen and (min-width: 992px) {
    .col-md-4 {
      width: 33.33333333%;
    }

    .col-md-8 {
      width: 66.66666667%;
    }
 }
